@{
    ViewBag.Title = "首页";
}

<ul data-role="listview" data-inset="true">
    <li>@Html.ActionLink("音乐", "Music", "File")</li>
    <li>@Html.ActionLink("视频", "Video", "File")</li>
    <li>@Html.ActionLink("图片", "Pictrue", "File")</li>
</ul>